<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <link href="~/Contents/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Contents/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="~/Contents/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="~/Contents/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input id="userInput" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
                                </div>
                                <div class="form-group">
                                    <input id="passInput" class="form-control" placeholder="Password" name="password" type="password" value="">
                                </div>
                                <p style="color:red">@Html.ValidationMessage("error")</p>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <a id="buttonLogin" class="btn btn-lg btn-success btn-block">Login</a>
                                <br />
                                <p style="color:red">Tài khoản Admin : "admin" - "admin"</p>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Contents/vendor/jquery/jquery.min.js"></script>
    <script src="~/Contents/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Contents/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="~/Contents/dist/js/sb-admin-2.js"></script>

    <script>
        document.getElementById("buttonLogin").onclick = function () {
            var userInput = document.getElementById("userInput").value;
            var passInput = document.getElementById("passInput").value;
            var hrefLogin = "/Login/Login/Login?user=" + userInput + "&pass=" + passInput;
            location.href = hrefLogin;
        };
    </script>
</body>
</html>